html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    margin-top: 15%; 
}
.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.329);
    border-bottom-style: solid;
}
.copiasinfo{
    display: flex;
    flex-direction: column;    
}
.userinfos{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.navbar-brand:hover, .nav-link:hover{
    opacity: 0.8;
}
#modalClose, #modalCloserela, #modalClosereti, #modalClosereto, #modalClosereno{
    border: none;
    background-color: #3a6475;
    color: white;
}
.buttonexit{
    display: flex; 
    flex: 2; 
    justify-content: flex-end;
}
#recipient-name:focus,#recipient-username:focus,#recipient-password:focus,#recipient-reti:focus,#recipient-reto:focus,#recipient-reno{
    border-color: #3a6475;
    box-shadow: none;
}
@media screen and (max-width:991px) {
    .buttonexit{
        justify-content: flex-start;
    }
}



