html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.buttonexit{
    display: flex; 
    flex: 2; 
    justify-content: flex-end;
}
#idsubmit{
    margin-top: 15px;
    border: none;
    background-color: #3a6475;
}
#idsubmit:active{
    box-shadow: none;
    opacity: 0.8;
}
#exampleInputName:focus,#exampleInputUsername:focus{
    border-color: #3a6475;
    box-shadow: none
}
@media screen and (max-width:991px) {
    .buttonexit{
        justify-content: flex-start;
    }
}
@media screen and (min-width:770px) {
    #exampleInputName,#exampleInputUsername{
        width: 70%;
    }
}